body{
    font-family: 'Alfa Slab One', cursive;
    margin: 0%;
}

.welcome{
    font-weight: lighter;
    color: rgb(172, 3, 194);
    
    
}
.welcomem{
    color: rgb(221, 106, 39);
    font-weight: lighter;
    
    
}

.welcomeS{
    font-weight: lighter;
    color: rgb(18, 18, 179);
    
    
}
.welcome2{
    font-size: 15px;
    font-weight:bold;
    font-family:sans-serif;
    
    
}
}
.deepblue{
    
}
.des{
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    
}
.des2{
    font-weight: lighter;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding-right: 100px;
}
section{
    display: flex;
    margin-bottom: 95px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.whole1{
    width: 95%;
    margin-left: 20px;
    margin-right: 25px;
    padding-left: 25px;
    padding-top: 35px;
}
.whole1 img{
    width: 90%;
    margin-left: 60px;
    
}
.hire{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    background-image: linear-gradient(blue, purple);
    padding: 9px 29px;
    border-radius: 8px;
    font-weight: bold;
    
}
.topcor{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

